body{
  background-color: whitesmoke;
}
#homePage{
    min-height: 43.62em;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(10, 9, 9, 0.719),rgb(0, 0, 10));
    
}
.image{
  background-size: contain;
  width: 15em;
  height: 15em;
}
.personal{
  overflow-y: hidden;
  height: 43.455em;
  background-color: whitesmoke;
}
.personal-dark{
  height: 43.455em;
  overflow-y: hidden;
  background-color: rgb(0, 0, 10);
}
#homePage-light{
    min-height: 43.62em;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 254, 255, 0.89),rgba(243, 243, 243, 0.897));
}
.departementDark{
    background-color: rgb(0, 0, 10);
}
.departementlight{
    background-color: whitesmoke;
}
.Directions{
  overflow-y: hidden;
    z-index: 1;
    background-color: rgb(0, 0, 10);
    height: 43.4em;
}
.Directions-light{
  overflow-y: hidden;
    background-color: whitesmoke;
    height: 43.4em;
    z-index: 1;
}
.departmentCont{
    background-color: rgba(18, 18, 29, 0.863);
}
.departmentCont-light{
    background-color: rgba(245, 245, 245, 0.795);
    z-index: 1;
}
.departmentCont-light h1{
    color: rgb(56, 56, 56);
}
.departmentCont-light button{
    background-color: rgb(56, 56, 56);
}
.DepartmentNav{
    background-color: rgba(12, 12, 19, 0.863);
    z-index: 10;
    align-items: center;
    font-size: x-large;
    
}
.DepartmentNav-light{
    background-color: white;
    z-index: 10;
    align-items: center;
    font-size: x-large;
}
.DepartmentNavv{
    padding-top: 10em;
    padding-left: 20px;
    background-color: rgba(12, 12, 19, 0.863);
}
.DepartmentNavv-light{
    padding-top: 10em;
    padding-left: 20px;
    background-color: white;
}
.li{
    background-color: rgba(24, 24, 37, 0.425);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}
.DepartmentNavv::-webkit-scrollbar{
    width: auto;
}
.DI{
    font-family: inherit;
}

.departmentMainCont{
    min-height: 40em;
    background-color: rgba(12, 12, 19, 0.863);
}
.departmentMainCont-light{
    min-height: 40em;
    z-index: 10;
    background-color: white;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(0, 0, 10);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: .4em;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
.button-light {
    display: inline-block;
    border-radius: 4px;
    border: 2px solid rgb(12, 12, 27);
    color: black;
    text-align: center;
    font-size: 22px;
    padding: .4em;
    width: 242.4px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-light span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-light span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-light:hover span {
    padding-right: 25px;
  }
  
  .button-light:hover span:after {
    opacity: 1;
    right: 0;
  }
  @media screen and (min-width: 300px) {
    .skeleton-div{
        position: relative;
        left: 6%;
        display: grid;
        grid-template-columns: auto;
        row-gap: .43em;
    }
    .skeleton{
        width: 75%;
    }
  }
  @media screen and (min-width: 640px) {
    .skeleton-div{
        position: relative;
        left: 14%;
        display: grid;
        grid-template-columns: 290px 290px;
        row-gap: .43em;
    }
    
  }
  @media screen and (min-width: 768px) {
    .skeleton-div{
        position: relative;
        left: 10%;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        row-gap: .43em;
    }
    
  }

  @media screen and (min-width: 968px) {
    .skeleton-div{
        position: relative;
        left: 29%;
        display: grid;
        grid-template-columns: 18em 18em 18em;
        row-gap: .43em;
    }
    
  }
  @media screen and (min-width: 1280px) {
    .skeleton-div{
        position: relative;
        left: 23%;
        display: grid;
        grid-template-columns: 23em 23em 23em;
        row-gap: .43em;
    }
    
  }